.burgerMenu {
    width: 50px;
    height: 50px;
    position: relative;
    background: #10568f;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
}

.burgerMenu span {
    display: inline-block;
    position: absolute;
    width: 45%;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: all .4s;
}

.burgerMenu span:nth-of-type(1) {
    top: 17px;
}

.burgerMenu span:nth-of-type(2) {
    top: 25px;
}

.burgerMenu span:nth-of-type(3) {
    top: 33px;
}

.burgerMenu.active span:nth-of-type(1) {
    top: 18px;
    left: 14px;
    transform: translateY(6px) rotate(-45deg);
    width: 40%;
}

.burgerMenu.active span:nth-of-type(2) {
    opacity: 0;
}

.burgerMenu.active span:nth-of-type(3) {
    top: 30px;
    left: 14px;
    transform: translateY(-6px) rotate(45deg);
    width: 40%;
}

li {
    display: inline;
    font-size: 2rem;
}

.burger-list {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.burger-list li {
    display: block;
    position: relative;
    height: calc(100% / 4);
    min-height: 4em;
}

.overlay {
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: rgb(105, 105, 105);
}

.overlay--on {
    height: 100%;
    visibility: visible;
    opacity: .9;
}

.burgerMenu .burgerNav .overlay .burger-list{
    display: none;
}
