.burgerMenu {
    width: 80px;
    height: 50px;
    position: relative;
    background: #6A4D38;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.burgerMenu span {  
    position: absolute;
    width: 55%;
    left: 17px;
    height: 3px;
    background: #fff;
    transition: all .4s;
}

.burgerMenu span:nth-of-type(1) {
    top: 17px;
}

.burgerMenu span:nth-of-type(2) {
    top: 25px;
}

.burgerMenu span:nth-of-type(3) {
    top: 33px;
}

.burgerMenu.active span:nth-of-type(1) {
    top: 18px;
    left: 17px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}

.burgerMenu.active span:nth-of-type(2) {
    opacity: 0;
}

.burgerMenu.active span:nth-of-type(3) {
    top: 30px;
    left: 17px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}

li {
    display: inline;
    font-size: 2rem;
}

.burger-list {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.burger-list li {
    display: block;
    position: relative;
    height: calc(100% / 4);
    min-height: 4em;
}

.overlay {
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: rgb(0, 0, 0);
    z-index: 998;
}

.overlay--on {
    height: 100%;
    visibility: visible;
    opacity: .9;
}

.burgerMenu{
    display: none;
}
.burgerNav{
    background: #826550;
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navText{
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white;
    width: 100%;
}
@media (max-width:480px){
.burgerMenu{
    display: block;
}
.nav{
    display: none;
}
}
