.footer{
    height: 20vh;
    background: #292929;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
}
.footer_item{
    width: 25%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_item p{
    line-height: 27px;
}
.footer_item:nth-child(2){
    align-items: center;
    justify-content: space-evenly;
}
.footer_item:nth-child(3){
    align-items: center;
    justify-content: space-evenly;
}
.footer_icons{
    display: flex;
    height: 40%;
    width: 48%;
}
.footer_img{
    border: 1px solid #4a4a4a;
    width: 100%;
    height: 50%;
}
.footer_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 40%;
    border: 1px solid #4a4a4a;

}
