/* Так тут nav и header */
.nav{
  display: flex;
  justify-content: space-evenly;
  background: black;
  width: 100%;
  height: 10vh;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
}
.nav__list{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-between;
  list-style: none;
  border: none;
}
.nav__item{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav__link{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.nav__item:nth-child(1){
    border-bottom: 3px solid #d38c5a;
}
.nav__login{
  width: 10%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.nav__login a{
    width: 100%;
    height: 100%;
}
.nav__icon{
    width: 20%;
}
.header{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/photos/back-desktop.svg);
    background-size: cover;
}
.header_item{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img_logo-name:nth-child(2){
    width: 20vw;
}
.img_logo-name:nth-child(3){
    width: 8vw;
}
/* Тут статистика */
.section__message{
    display: flex;
    flex-wrap: wrap;
    height: 38vh;
    flex-direction: column;
    width: 85%;
    position: absolute;
    top: 70vh;
    font-family: "PT Sans Narrow", sans-serif;
	font-weight: 400;
	font-style: normal;
    left: 7%;
}
.section__message_block-white{
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 27px;
    background: white;
}
.message__h2-white{
    font-size: 2.5rem;
    width: 80%;
    line-height: 40px;
    font-weight: 700;
}
.p-white{
    font-size: 1.25rem;
    width: 80%;
}
.section__message_block-grey{
    width: 32%;
    height: 50%;
    background: #404040;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.message__h2-grey{
    font-size: 4.5rem;
    text-indent: 10%;
    font-weight: 700;
}
.p-grey{
    font-size: 1.25rem;
    text-indent: 10%;
}
.section__message_block-grey:nth-child(3){
    background: #4C4C4C;
    position: relative;
    bottom: 50%;
    left: 32%;
}
.section__message_block-grey:nth-child(4){
    background: #353535;
    position: relative;
    top: 50%;
    right: 32%;
}

/* Тут качества */
.quality{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #4C4C4C;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    color: white;
}
.img_icon{
    width: 8vw;
    height: 10vh;
}
.section_quality_block{
    height: 55%;
    width: 28%;
    display: flex;
    line-height: 27px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 35%;
    text-align: center;
}
.divider{
    position: relative;
    top: 40%;
    height: 50%;
    border: 1px solid #E5DDD5;
}
.block-h3{
    font-size: 1.875rem;
    font-weight: 700;
}
.block-p{
    font-size: 1.125rem;
    width: 70%;
    height: 40%;
}
main{
    border: none;
}
#maincanvas {
    display: block;
    width: 100vw;
    height: 100px;
    border: none;
    background: #F8F5F2;
}
#footercanvas{
    width: 100vw;
    height: 50px;
    background: #292929;
    display: none;
}

/* Тут новости */
.section_news{
    width: 100%;
    height: 40vh;
    position: static;
    left: 7vh;
    line-height: 27px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-evenly;
    align-items: center;
    background: #F8F5F2;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.news-all{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.section_news-h3{
    width: 50%;
    text-indent: 10%;
    font-weight: 700;
    line-height: 27px;
    font-size: 40px;
}
.section_news-button{
    font-family: "PT Sans Narrow", sans-serif;
    width: 13%;
    height: 20%;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 27px;
    background: #F8F5F2;
    border: 1px solid grey;
}
.img_news{
    width: 20%;
    height: 50%;
}
.p-news{
    font-size: 1.125rem;
    width: 65%;
}
.news{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

/* Тут оценки и отзывы */
.section_review{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    line-height: 27px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-content: space-evenly;
    background: #F8F5F2;
    justify-content: space-around;
    align-items: center;
}
.button-review{
    width: 13%;
    height: 15%;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    background: #F8F5F2;
    border: 1px solid grey;
}
.slaider_review{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: 55%;
}
.img_person-review{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-review_img{
    width: 35%;
    height: 100%;
}
.info-review_content{
    width: 58%;
    height: 100%;
}
.romb-click{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.slaider_review button{
    width: 5%;
    background: #F8F5F2;
    border: 1px solid grey;
}
.h3-section_review{
    font-size: 40px;
    width: 50%;
    text-indent: 10%;
    font-weight: 700;
}
.p_person-review{
    font-size: 1.125rem;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.block-info-review{
    width: 75%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}
.h2_person-review{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 40%;
}
/* Тут footer */
.footer{
    background: #292929;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.footer_item{
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.footer_item p{
    line-height: 27px;
}
.h3_title{
    font-weight: 700;
}
.footer_item:nth-child(3){
    align-items: center;
    justify-content: center;
}
.footer_item:nth-child(4){
    align-items: center;
    justify-content: center;
}
.footer_icons{
    display: flex;
    height: 30%;
    width: 50%;
}
.footer_img{
    width: 3vw;
    height: 2vh;
}
.block_img{
    border: 1px solid #4a4a4a;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile_info{
    display: none;
}
.footer_media{
    height: 25%;
}
.footer_creator{
    height: 25%;
}
.footer_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 30%;
    border: 1px solid #4a4a4a;
}
@media screen and (max-width:768px) and (min-width:426px){
    .block-info-review img{
        border-radius: 50%;
    }
    .footer_item:nth-child(3){
        order: 4;
        width: 100%;
    }
    .img_logo-name:nth-child(3){
        display: none;
    }
    .img_logo-name:nth-child(2){
        width: 40vw;
    }
}
@media screen and (max-width:768px){
    .nav{
        height: 8vh;
    }
    .nav__list{
        width: 70%;
    }
    .nav__item{
        width: 20%;
    }
    .nav__login a{
        display: none;
    }
    .header{
        height: 50vh;
        background-size: contain;
        background-size: cover;
        background-position: bottom;
    }
    .section__message{
        height: 60vh;
        top: 37vh;      
        flex-direction: row;
    }
    .section__message_block-white{
        width: 100%;
        height: 35%;
    }
    .section__message_block-grey{
        width: 50%;
        height: 32.5%;  
    }
    .quality{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .section_quality_block{
        top: 20%;
        flex-wrap: wrap;
        width: 75%;
        height: 15%;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    .section__message_block-grey:nth-child(3){
        position: static;
    }
    .section__message_block-grey:nth-child(4){
        position: static;
    }
    .block-h3{
        height: 31%;
    }
    .block-p{
        width: 70%;
    }
    .img_icon{
        height: 70%;
        width: 18%;
        justify-content: start;
        align-items: center;
    }
    .divider{
        height: 0px;
        width: 75%;
        top: 20%;
    }
    .news:nth-child(3){
        display: none;
    }
    .news{
        width: 45%;
        justify-content: space-evenly;
    }
    .p-news{
        width: 70%;
    }
    .section_news-button{
        width: 21%;
        height: 15%;
    }
    .section_review{
        height: 40vh;
    }
    .button-review{
        width: 21%;
        height: 15%;
    }
    .info-review_img{
        width: 15%;
        height: 50%;
    }
    .block-info-review{
        align-content: space-evenly;
        height: 100%;
        width: 84%;
    }
    .info-review_content{
        width: 70%;
    }
    .block-info-review h2{
        width: 70%;
        height: 30%;
        display: flex;
        align-items: flex-end;
    }
    .block-info-review img{
        height: 100%;
        width: 100%;
        align-self: center;
    }
    .block-info-review p{
        width: 100%;
        align-items: center;
        height: 60%;
        font-size: 1.125rem;
    }
    .slaider_review{
        justify-content: center;
        height: 47%;
    }
    .romb-click{
        width: 16.5%;
        position: relative;
        bottom: 10%;
    }
    .slaider_review button{
        width: 8%;
    }
    .footer{
        height: 40vh;
        flex-wrap: wrap;
    }
    .footer_item{
        width: 50%;
        height: 50%;
        align-items: center;
    }
    .h3_title{
        font-weight: 700;
        width: 70%;
    }
    .footer_info{
        width: 70%;
    }
    .footer_border{
        font-weight: 700;
        width: 20vh;
        height: 6vh;
    }
    .footer_media{
        display: none;
    }
    .footer_icons{
        width: 80%;
        height: 50%;   
    }
    .block_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_img{
        width: 4vh;
        height: 4vh;
    }
}
@media screen and (max-width:425px){
    body{
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 10vh;
        order: 1;
        background: #000;
        justify-content: center;
    }
    .header_item{
        width: 100%;
    }
    .img_logo-name:nth-child(2){
        width: 70vw;
        height: 100%;
    }
    /* Че делать? тут бургер меню */
    .nav{
        height: 7vh;
        order: 2;
        background: #6a4d38;
    }
    .nav__icon{
        display: none;
    }
    .nav__list{
        justify-content: center;
    }
    .nav__item{
        font-weight: 700;
    }
    .nav__item:nth-child(1){
        display: none;
    }
     .nav__item:nth-child(2){
        display: none;
    }
     .nav__item:nth-child(4){
        display: none;
    }
     .nav__item:nth-child(5){
        display: none;
    }
    main{
        order: 3;
    }
    .section__message{
        position: static;
        width: 100%;
        height: 62vh;
    }
    .section__message_block-white{
        height: 36%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .img_logo-name:nth-child(1){
        display: none;
    }
    .img_logo-name:nth-child(3){
        display: none;
    }
    .section__message_block-grey{
        width: 100%;
        height: 16%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .message__h2-grey{
        font-size: 2.5rem;
        width: 50%;
    }
    .p-grey{
        text-align: right;
        text-indent: 0;
        line-height: 27px;
        width: 30%;
    }
    .quality{
        height: 45vh;
    }
    #maincanvas {
    height: 50px;
    }
    #footercanvas{
    display: block;
    }

    /* Не ну тут как бы слайдер че делать */
    .section_quality_block{
        position: static;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    .divider{
        display: none;
    }
    .block-h3{
        height: 5%;
    }
    .img_icon{
        width: 38%;
        height: 30%;
    }
    .section_quality_block:nth-child(3){
        display: none;
    }
    .section_quality_block:nth-child(5){
        display: none;
    }
    .section_news{
        order: 4;
        height: 50vh;
        flex-direction: column;
    }
    .section_news-button{
        order: 3;
        width: 85%;
    }
    .news-all{
        height: 60%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .news{
        width: 85%;
        height: 48%;
        justify-content: space-between;
    }
    .p-news{
        width: 75%;
    }
    .img_news{
        width: 20%;
    }
    .news:nth-child(1){
        border-bottom: 1px solid #E5DDD5;
    }
    .section_news-h3{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-indent: 0%;
    }
    .section_review{
        order: 5;
    }
    .button-review{
        display: none;
    }
    .h3-section_review{
        border-top: 1px solid #E5DDD5;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-indent: 0%;
    }
    .slaider_review button{
        display: none;
    }
    .slaider_review{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 60%;
    }
    .slaider_review h2{
        width: 50%;
        height: 20%;
    }
    .slaider_review p{
        width: 50%;
        height: 80%;
    }
    .block-info-review{
        justify-content: flex-start;
        align-content: space-between;
    }
    .block-info-review h2{
        width: 100%;
        align-items: start;
    }
    .info-review_content p{
        width: 100%;
        align-items: start;
    }
    .info-review_img{
        width: 20%;
        height: 30%;
    }
    .romb-click{
        position: static;
        width: 30%;
    }
    .footer{
        order: 6;
        height: 50vh;
    }
    .footer_item{
        width: 100%;
        height: 25%;
        text-align: center;
    }
    .footer_item:nth-child(3){
        order: 3;
    }
    .footer_item:nth-child(4){
        order: 3;
    }
    .footer_border{
        width: 80%;
    }
    .footer_icons{
        width: 100%;
        height: 100%;
    }
}
