form{
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;    
    font-size: 50px;
}
input{
    margin: 2%;
    height: 100px;
    width: 80%;
    font-size: 30px;
}
#check{
    width: 80%;
    height: 100px;
    background: red;
}
input[type=radio], input[type=checkbox]{
    width: 40px;
    background: #826550;
    height: 40px;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  width: 100%;
  height: 10vh;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/photos/back-desktop.svg);
    background-size: cover;
}
.nav__list{
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-between;
  list-style: none;
  border: none;
}
.h2_person-review{
    font-size: 24px;
    font-weight: 700;
    width: 50%;
    height: 30%;
}
.nav__item{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav__link{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.nav__item:nth-child(3) a{
    border-bottom: 3px solid #d38c5a;
}
.nav__login{
  width: 7%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.nav__login a{
    width: 100%;
    height: 100%;
}
.nav__icon{
    width: 70%;
    height: 100%;
}
.footer{
    height: 20vh;
    background: #292929;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
}
.footer_item{
    width: 25%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_item p{
    line-height: 27px;
}
.footer_item:nth-child(2){
    align-items: center;
    justify-content: space-evenly;
}
.footer_item:nth-child(3){
    align-items: center;
    justify-content: space-evenly;
}
.footer_icons{
    display: flex;
    height: 40%;
    width: 48%;
}
.footer_img{
    border: 1px solid #4a4a4a;
    width: 100%;
    height: 100%;
}
.footer_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    height: 40%;
    border: 1px solid #4a4a4a;
}
.booking{
    background: #F8F5F2;
    display: flex;
    justify-content: space-around;
}
.booking_button_and_h1{
    width: 100%;
    height: 20vh;
    left: 7vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: space-evenly;
    align-items: center;
    background: #F8F5F2;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.booking_h1{
    font-size: 72px;
    width: 50%;
    height: 30%;
    font-weight: 700;
    font-size: 40px;
}
.home{
    width: 13%;
    height: 40%;
    font-size: 18px;
    line-height: 27px;
    background: #F8F5F2;
    border: 1px solid grey;
}
.booking_names{
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.booking_field{
    width: 24%;
    height: 60%;
    color: black;
}
.booking_field::placeholder{
    color: black;
    display: flex;
    justify-content: start;
}
.booking_field_contact::placeholder{
    color: black;
    display: flex;
    justify-content: start;
}
.booking_contacts{
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.booking_field_contact{
    width: 38.25%;
    height: 60%;
}
.booking_field_text::placeholder{
    color: black;
    display: flex;
    
}
.booking_contacts{
    width: 100%;
    height: 30vh;
     display: flex;
    justify-content: center;
}
.booking_field_text{
    width: 81%;
    height: 90%;
}
.inputs_form{
    width: 100%;
    height: 100%;
}
.booking_names_and_contacts{
    width: 100%;
    height: 80vh;
}
.booking_radios_and_checkbox{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.booking_button{
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking_h2{
    font-size: 72px;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}
.booking_radios{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: x-large;
    height: 20vh;
}
.p_variant{
    width: 100%;
    text-align: center;
    font-size: x-large;
}
.booking_choose{
    width: 7%;
    height: 30%;
}
.booking_radio{
    width: 20%;
    height: 20%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.booking_checkboxs{
    font-size: 72px;
    width: 100%;
    height: 20vh;
    flex-wrap: wrap;
    display: flex;    
    justify-content: end;
    font-weight: 400;
    font-size: 30px;
}
.booking_checkbox{
    display: flex;
    width: 30%;
    height: 5vh;
    align-items: center;
    font-size: x-large;
}
.booking_submit{
    width: 80%;
    margin: 0 auto;
    background: #826550;
    border: 1px solid #826550;
    height: 10vh;
    color: white;
    font-weight: 700;
    font-size: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    font-style: normal;
}